<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>H+ 后台主题UI框架 - 空白页</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台"/>
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题"/>
    <div th:replace="common::JS"></div>
    <div th:replace="common::CSS"></div>

</head>

<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>标题</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <strong>包屑导航</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="javascript:void(0)" class="btn btn-primary" onclick="DM.initModal()">活动区域</a>
        </div>
    </div>
</div>
<div class="fixed-table-toolbar">
    <div class="bs-bars pull-left" id="news_cat">
        <div class="form-inline center-block">
        </div>
    </div>
</div>
    <div class="wrapper wrapper-content">
    <div class="ibox" id="ibox_id">
        <div id="list_area">
            <input type="hidden" th:value="${unitId}" id="unitId"/>
            <div class="ibox-content">
                <div class="table-container">
                    <div class="fixed-table-toolbar">
                        <div class="bs-bars pull-left" id="news_cate_bar">
                            <a class="btn btn-primary" th:href="@{'/admin/sys/car/order/unitAdd/'+${unitId}}">
                                <i class="fa fa-plus"></i> 新增
                            </a>
                            <a href="javascript:void(0)" class="btn btn-default"   onclick="DM.back()">
                                <i class="fa fa-times" aria-hidden="true"></i> 返回
                            </a>
                        </div>
                    </div>
                    <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="row">
                            <table id="unitOrder"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/unit_order_list.js"></script>
<script>
    var unitOrder = new UnitOrderList();
    $(function(){
        unitOrder.loadTableData();
    });
    function deleteUnitOrder(id) {
        Messager.confirm("是否删除?", function() {
            unitOrder.deleteUnitOrder(id);
        });
    }
</script>


</body>

</html>
