<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>通知</title>
</head>

<body class="white-bg">
<div th:replace="common::JS"></div>
<div th:replace="common::CSS"></div>

</body>
</html>
<script>
    $(function () {
        Messager.error("对不起，系统还未查询到您的报名信息，请检查您的注册信息或联系管理员添加你的信息后再试！",function () {
            location.href="http://wx.zcmzjp.com/weChat/wxEvent/reg";
        })
    })
</script>
