<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/plugins/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet"/>
    <title >问卷调查</title>
</head>

<body class="white-bg">

<div th:replace="common::JS"></div>
<div th:replace="common::CSS"></div>

<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="text-align: center;font-size: 18px">
            <span th:text="${examinationPaper.name}">问卷调查</span>
        </div>
        <div class="ibox-content">
            <form id="view_form">
            <input type="text" id="paperId" th:value="${examinationPaper.id}"/>
            <input type="text" id="studentId" th:value="${orderStudent.stuId}"/>
            <input type="text" id="orderId" th:value="${orderStudent.odId}"/>
            <input type="text" id="teacherId" th:value="${orderStudent.teachId}"/>
            <br/>
            <div class="row">
            <th:block th:each="list:${questions}">

                    <div class="col-sm-12 col-xs-12 col-lg-12">
                        <p th:text="${list.questionName}">行级显示</p>
                        <div class="radio">
                            <input type="radio" th:id="${'opt1_'+list.questionId}" value="yes" th:name="${list.questionId}" checked=""/>
                            <label th:for="${'opt1_'+list.questionId}"> 是</label>
                        </div>
                        <div class="radio">
                            <input type="radio" th:id="${'opt2_'+list.questionId}"  value="no" th:name="${list.questionId}"/>
                            <label th:for="${'opt2_'+list.questionId}" > 否</label>
                        </div>
                    </div>

            </th:block>
                <div class="ibox-content" style="text-align: center">
                    <button type="button" class="ladda-button btn btn-primary"  data-style="expand-left" onclick="sub()">
                        <span class="ladda-label"><i class="fa fa-floppy-o" aria-hidden="true"></i> 提交</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <a href="javascript:void(0)" class="btn btn-default"   onclick="DM.back()">
                        <i class="fa fa-times" aria-hidden="true"></i> 返回
                    </a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/js/wx/stuexam.js"></script>
<script >
   function sub() {
       var stuexam = new StuExam();
       Messager.confirm("确定提交吗？",function () {
           stuexam.submitValue();
       })
   }
</script>
</html>
