<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/css/starScore/starScore.css" rel="stylesheet"/>
    <title>教练详情</title>
</head>
<body class="white-bg">
<div th:replace="common::JS"></div>
<div th:replace="common::CSS"></div>
  <div class="row" >
      <div class="col-lg-12 ">
          <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center;font-size: 18px">
                  <span>教练介绍</span>
                </div>
                <div class="ibox-content" style="text-align: center">
                    <img class="img-responsive center-block" th:src="${teacher.picUrl}" style="max-height: 200px;max-width: 150px;"/><br/>
                    <strong th:text="${teacher.name}" style="font-size: 18px;">曾宝仪</strong><br/>
                    <strong style="font-size: 16px;">职务</strong><strong>：</strong><strong th:text="${teacher.title}" style="font-size: 16px;"></strong><br/>
                    <strong th:utext="${teacher.brief}"></strong>
                </div>
              <div class="ibox-title">
                  <h3>学员评价</h3>
                  <hr/>
                  <th:block th:each="list:${evaluates}">
                      <div th:id="${'star_'+list.id}">
                      </div>
                      <h4 th:utext="${list.brief}"></h4>
                      <h6 th:text="${#dates.format(list.created, 'yyyy-MM-dd HH:mm:ss')}" style="color:darkgrey">类型</h6><br/>
                  </th:block>
              </div>
        </div>
      </div>
      <!--右侧边栏结束-->
      <div id="small-chat" onclick="show()">
          <a class="open-small-chat">
              <i class="fa fa-comments"></i>
          </a>
      </div>
      <!--mini聊天窗口结束-->
  </div>
<div id="modalForm" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" >评价教练</h4>
                </div>
                <br/>
                <form id="evaluateForm">
                    <input type="hidden" id="teaId" name="teaId" th:value="${teacher.id}"/>
                    <input type="hidden" id="stuId" name="stuId" th:value="${student.id}"/>
                    <input type="hidden" id="id" name="id" th:value="${myEvaluate!=null?myEvaluate.id:''}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">评分：</label>
                        <div class="col-sm-7">
                            <select name="level" id="level" class=" form-control">
                                <option value="5" th:selected="${(myEvaluate!=null?myEvaluate.level:'')==5?'selected':null}">5分</option>
                                <option value="4" th:selected="${(myEvaluate!=null?myEvaluate.level:'')==4?'selected':null}">4分</option>
                                <option value="3" th:selected="${(myEvaluate!=null?myEvaluate.level:'')==3?'selected':null}">3分</option>
                                <option value="2" th:selected="${(myEvaluate!=null?myEvaluate.level:'')==2?'selected':null}">2分</option>
                                <option value="1" th:selected="${(myEvaluate!=null?myEvaluate.level:'')==1?'selected':null}">1分</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">评价：</label>
                        <div class="col-sm-7">
                            <textarea type="text" name="brief" id="brief"  value="" class="form-control" th:text="${myEvaluate!=null?myEvaluate.brief:''}"/>
                        </div>
                    </div>
                    <input type="hidden" id="status" name="status" value="1"/>
                </form>
                <div class="ibox-content" style="text-align: center">
                    <input type="hidden" id="tId"/>
                    <button class="ladda-button btn btn-primary"  data-style="expand-left" onclick="Evaluate.addEvaluate()">
                        <span class="ladda-label"><i class="fa fa-floppy-o" aria-hidden="true"></i> 确定</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <a href="javascript:void(0)" id="cancel" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> 取消
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/plugins/js/markingSystem.js"></script>
<script src="/js/wx/evaluate.js"></script>
<script th:inline="javascript">
    var evaluateList = [[${evaluates}]]
    $(function () {
        Evaluate.initStarScore(evaluateList);
    });
    function show() {
        $('#modalForm').modal('show');
    }
</script>
</body>
</html>
