<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>首页</title>

</head>

<body>
<div th:replace="common::JS"></div>
<div th:replace="common::CSS"></div>
<div th:replace="common::dateTimePicker"></div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>预约管理</h2>
        <ol class="breadcrumb">
            <li><a href="/admin">首页</a></li>
            <li><a href="javascript:void(0)">预约管理</a></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox-title">
        <h5>预约管理</h5>
    </div>
    <div class="ibox-content">
        <div class="ibox">
            <form id="petorder">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input  name="status" value="0" hidden="hidden"/>
                        <label class="col-sm-2 control-label require">宠物选择</label>
                        <div class="col-sm-8">
                            <select id="petId" name="petId"  class="form-control">
                                <option value="">请选择您的宠物</option>
                                <th:block th:each="list:${pets}">
                                    <option th:value="${list.id}" th:text="${list.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input  name="status" value="0" hidden="hidden"/>
                        <label class="col-sm-2 control-label require">预约服务选择</label>
                        <div class="col-sm-8">
                            <select id="typeId" name="typeId"  class="form-control">
                                <option value="">请选择需要预约的服务</option>
                                <th:block th:each="list:${orderTypes}">
                                    <option th:value="${list.id}" th:text="${list.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label require">预约时间</label>
                        <div class="col-sm-8">
                            <input type="text" name="orderTime" id="orderTime"  class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" name="remark" id="remark"  class="form-control"/>
                        </div>
                    </div>

                </div>
            </form>

            <div class="ibox-content btn-center" style="text-align: center">
                <button type="submit" name="button" class="ladda-button btn btn-primary" data-style="expand-left" onclick="save()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> 保存
                </button>

                <a href="javascript:void(0)" class="btn btn-default"   onclick="DM.back()">
                    <i class="fa fa-times" aria-hidden="true"></i> 返回
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/js/petorder_list.js"></script>
<script>
    var petOrder = new PetOrderList()
    $(function(){
        petOrder.init();
    });
    function save() {
        petOrder.save();
    }

</script>


</body>
</html>
