<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>H+ 后台主题UI框架 - 空白页</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台"/>
    <meta name="description" content="使用了Html5+CSS3等现代技术"/>
    <div th:replace="common::JS"></div>
    <div th:replace="common::CSS"></div>

</head>

<body class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>标题</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    <strong>包屑导航</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="list.html" class="btn btn-primary">活动区域</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox" id="ibox_id">
            <div id="list_area">
                <div class="ibox-content">
                    <div class="table-container">
                        <div class="fixed-table-toolbar">
                            <div class="bs-bars pull-left" id="news_cate_bar">
                                <a class="btn btn-primary" href="/admin/sys/car/buildBuilding/add">
                                    <i class="fa fa-plus"></i> 新增
                                </a>
                            </div>
                        </div>
                        <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                            <div class="row">
                                <table id="buildBuilding"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/assetsCategory_list.js"></script>
    <script>
        var assetsCategory = new AssetsCategoryList();
        $(function(){
            assetsCategory.loadTableData();
        });
        function deleteAssetsCategory(id) {
            Messager.confirm("是否删除？",function () {
                assetsCategory.deleteAssetsCategory(id);
            })
        }
    </script>


</body>

</html>
