<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="common::JS"></div>
<div th:replace="common::CSS"></div>
<div th:replace="common::dateTimePicker"></div>
<div th:replace="common::editor"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>学员管理</h2>
                <ol class="breadcrumb">
                    <li><a href="/admin">首页</a></li>
                    <li><a href="javascript:void(0)">学员管理</a></li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h5>学员编辑</h5>
            </div>
            <div class="ibox-content">
                <div class="ibox">
                    <form id="partTimeJob">
                        <input id="id" name="id" type="hidden" th:value="${partTimeJob.id}"/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label require">名称</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" id="name"  class="form-control"  th:value="${partTimeJob.name}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label require">开始时间</label>
                                <div class="col-sm-8">
                                    <input type="text" name="startTime" id="startTime"  class="form-control" th:value="${partTimeJob.startTime}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label require">开始时间</label>
                                <div class="col-sm-8">
                                    <input type="text" name="endTime" id="endTime"  class="form-control" th:value="${partTimeJob.endTime}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label require">需要人数</label>
                                <div class="col-sm-8">
                                    <input type="text" name="maxNum" id="maxNum"  class="form-control" th:value="${partTimeJob.maxNum}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label require">工资</label>
                                <div class="col-sm-8">
                                    <input type="text" name="salary" id="salary"  class="form-control" th:value="${partTimeJob.salary}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label require">状态</label>
                                <div class="col-sm-8">
                                    <select class=" form-control" name="status">
                                        <option value="1" th:selected="${partTimeJob.status==1?'selected':null}">启用</option>
                                        <option value="0" th:selected="${partTimeJob.status==0?'selected':null}">禁用</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <input type="text" hidden="hidden" id="content" name="content"/>
                        <div class="ibox-title" >
                            <h5>工作详情</h5>
                        </div>

                        <form name="editor" method="post">
                            <textarea  id="editor_id" cols="100" rows="8" style="width:100%;height:100%;visibility:hidden;" th:text="${partTimeJob.content}"></textarea>
                            <br />
                        </form>
                    </form>

                    <div class="ibox-content btn-center" style="text-align: center">
                        <button type="submit" name="button" class="ladda-button btn btn-primary" data-style="expand-left" onclick="save()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> 保存
                        </button>

                        <a href="javascript:void(0)" class="btn btn-default"   onclick="DM.back()">
                            <i class="fa fa-times" aria-hidden="true"></i> 返回
                        </a>
                    </div>

                </div>
            </div>

        </div>

<script src="/js/partTimeJob_list.js"></script>
<script>
    var partTimeJob = new PartTimeJobList();
    $(function(){
        partTimeJob.init();
        window.editor = KindEditor.create('#editor_id', {
            uploadJson :  '/upload/newsFileUpload',
            fileManagerJson :  '/dm/partTimeJob',
            allowFileManager : false,
            afterCreate: function () {
                //要取值设置这里 这个函数就是同步KindEditor的值到textarea文本框
                this.sync();
            },
            afterBlur: function () {  //同时设置这里
                this.sync();
            }});
    });
    function save() {
        partTimeJob.updatePartTimeJob();
    }
</script>

</body>
</html>
