 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>H+ 后台主题UI框架 - 空白页</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台"/>
    <meta name="description" content="H+使用了Html5+CSS3等现代技术"/>

    <div th:replace="common::JS"></div>
    <div th:replace="common::CSS"></div>
</head>

<body class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>标题</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    <strong>包屑导航</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="empty_page.html" class="btn btn-primary">活动区域</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox" id="ibox_id">
            <div id="list_area">
                <div class="ibox-content">
                    <div class="table-container">
                        <div class="fixed-table-toolbar">
                            <div class="bs-bars pull-left" id="news_cate_bar">
                                <a class="btn btn-primary" href="/admin/sys/user/add">
                                    <i class="fa fa-plus"></i> 新增
                                </a>
                            </div>
                        </div>
                        <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                            <div class="row">
                                <table id="user_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="modalForm" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body form-horizontal">
                    <form id="menuForm">
                        <input id = "userId" hidden="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label require">名称</label>
                            <div class="col-sm-8">
                                <select class=" form-control" id="selectId" >
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="ibox-content" style="text-align: center">
                        <button class="ladda-button btn btn-primary"  data-style="expand-left" onclick="saveUserRole()">
                            <span class="ladda-label" ><i class="fa fa-floppy-o" aria-hidden="true"></i> 确定</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        <a href="javascript:void(0)" id="cancel" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times" aria-hidden="true"></i> 取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 自定义js -->
    <script src="/js/user_list.js"></script>

    <script>
        var user = new UserList();
        $(function(){
            user.init();
        });

        function showArea(id,rId) {
            user.getRoles(rId);
            $('#modalForm').modal('show');
            $('#userId').val(id);
        }
        function saveUserRole() {
            user.saveUserRole();
        }
        function deleteUser(id) {
            Messager.confirm("确定删除吗?",function () {
                user.deleteUser(id);
            })

        }
    </script>



</body>

</html>
