<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcmzjp.wx.mapper.AssetsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.zcmzjp.wx.entity.AssetsCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
  </resultMap>

  <resultMap id="dto" type="com.zcmzjp.wx.dto.AssetsCategoryDto" extends="BaseResultMap">
    <result column="pname" jdbcType="VARCHAR" property="pname" />
  </resultMap>
  <select id="listByPage" parameterType="map" resultMap="dto">

    SELECT
    ac.id, ac.name, ac.code,ac.status,ac.parent_id,acd.name as pname
    FROM
    b_assets_category ac LEFT JOIN b_assets_category acd ON ac.parent_id=acd.id
    <where>
      <if test="keyword!=null and keyword!=''" >
        and ac.name like CONCAT('%',#{keyword},'%')
      </if>

    </where>
    ORDER BY ac.id desc
  </select>

  <select id="getAllAssetsCategorys" parameterType="map" resultMap="dto">

    SELECT
    ac.id, ac.name, ac.code,ac.status,ac.parent_id,acd.name as pname
    FROM
    b_assets_category ac LEFT JOIN b_assets_category acd ON ac.parent_id=acd.id
    ORDER BY  ac.id desc
  </select>
</mapper>