<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcmzjp.wx.mapper.BuildBuildingInfoMapper">
  <resultMap id="BaseResultMap" type="com.zcmzjp.wx.entity.BuildBuildingInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="build_id" jdbcType="VARCHAR" property="buildId" />
    <result column="wxopenid" jdbcType="VARCHAR" property="wxopenid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="words" jdbcType="VARCHAR" property="words" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="success" jdbcType="BIT" property="success" />
    <result column="status" jdbcType="INTEGER" property="status" />

    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="memberName" jdbcType="VARCHAR" property="memberName" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
  <sql id="basic_list">
    a.id,a.build_id as build_id,a.wxopenid,a.number,a.words,a.success,a.created,a.status,bb.title as title,m.name as memberName,m.gender as gender
  </sql>

  <select id="listByPage" parameterType="map" resultMap="BaseResultMap">

    SELECT
    <include refid="basic_list"/>
    FROM
    b_build_building_info a
    left join b_build_building bb on bb.id = a.build_id
    left join b_members m on m.wxOpenId=a.wxopenid
    <where>
      <if test="keyword!=null and keyword!=''" >
        and m.name like CONCAT('%',#{keyword},'%')
      </if>
      <if test="buildId!=null and buildId!=''" >
        and a.build_id = #{buildId}
      </if>
      <if test="success!=null and success!=''" >
        and a.success like CONCAT('%',#{success},'%')
      </if>
    </where>

    ORDER BY a.created desc
  </select>

  <insert id="insertByNumber" useGeneratedKeys="true" >
    INSERT INTO `b_build_building_info` (`id`, `build_id`, `wxopenid`, `number`, `words`, `success`,`created`) VALUES (#{id},#{buildId},#{wxopenid},(select ifnull(max(bi.number),0)+1 from b_build_building_info bi where bi.build_id=#{buildId}),#{words},#{success},null);
  </insert>
  
  <select id="getLuckTimesByParams" parameterType="map" resultType="int">
      select count(0)  from b_build_building_info bi where bi.success=true and bi.build_id=#{buildId} and bi.wxopenid=#{wxopenid}
  </select>
</mapper>