<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcmzjp.wx.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zcmzjp.wx.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>

  <resultMap id="dto" type="com.zcmzjp.wx.dto.OrderDto" extends="BaseResultMap">
    <result column="uname" jdbcType="VARCHAR" property="uname" />
  </resultMap>


  <resultMap id="orderDetailResultMap" type="com.zcmzjp.wx.dto.OrderDetailDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="max_num" jdbcType="INTEGER" property="maxNum" />
    <result column="leftNum" jdbcType="INTEGER" property="leftNum" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <resultMap id="getChildren" type="com.zcmzjp.wx.dto.OrderDto" extends="BaseResultMap">
    <!-- 查询子模块 -->
    <collection column="id" ofType="com.zcmzjp.wx.dto.OrderDetailDto" property="odList"  javaType="ArrayList"  select="getOrderChildren" />
  </resultMap>
  <sql id="basic_list">
    o.id,o.name,o.status,o.created
  </sql>
  <select id="getOrderAndChildren" resultMap="getChildren" parameterType="string">
      SELECT * FROM b_order o order BY o.created ASC ;
  </select>
  <select id="getOrderAndChildrenByUnitId" resultMap="getChildren" parameterType="Integer">
    SELECT * FROM b_order o WHERE o.unit_id=#{unitId} order BY o.created ASC ;
  </select>
  <select id="getOrderChildren" resultMap="orderDetailResultMap" parameterType="string">
       SELECT
       od.id,od.p_id,od.start_time,od.end_time,od.max_num,
       (od.max_num - (select count(os.id) from b_order_student os where os.od_id=od.id and substring(os.created,1,10)=curdate())) as leftNum
       ,(select count(os.id) from b_order_student os where os.od_id=od.id and substring(os.created,1,10)=curdate()) as orderNum
       FROM b_order_detail od
       where p_id = #{id}
       order BY od.start_time ASC;
  </select>
  <select id="listByPage" parameterType="map" resultMap="dto">

    SELECT
    <include refid="basic_list"/>,u.name as uname
    FROM
    b_order o
    LEFT JOIN b_unit u ON u.id=o.unit_id
    <where>
      <if test="keyword!=null and keyword!=''" >
        and o.name like CONCAT('%',#{keyword},'%')
      </if>
      <if test="unitId!=null and unitId!=''" >
        and o.unit_id like CONCAT('%',#{unitId},'%')
      </if>

    </where>

    ORDER BY o.id ASC
  </select>

</mapper>